In [20]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [ ]:
file_path1 = os.path.join('..', 'Education_dataset_V2', '10.diemrl.xlsx')
file_path2 = os.path.join('..', 'Education_dataset_V2', '12.baoluu.xlsx')
file_path3 = os.path.join('..', 'Education_dataset_V2', '14.totnghiep.xlsx')

# 10.diemrl

In [38]:
df1 = pd.read_excel(file_path1)
df1.dropna(axis=0, how='all', subset=None, inplace=True)

In [24]:
df1.shape[0]

54001

In [26]:
df1.isnull().sum()

id         34001
mssv           0
 lopsh         0
 hocky         0
 namhoc        0
 drl       50668
 ghichu        0
dtype: int64

In [27]:
df1.head(15)

,id,mssv,lopsh,hocky,namhoc,drl,ghichu
0,27.0,599DFFB8XPvAibaEXe879+AOg1gh8lJvChSN7o+V,ANTN2013,2.0,2013.0,59.0,NULL
1,28.0,FC77E598XPvAibaEXe879+AOg1gh8pb/q8KzJ2A3,ANTN2013,2.0,2013.0,91.0,NULL
2,29.0,51E1C3E0XPvAibaEXe+4hxKfaQWuhLp2zzmiiyRe,ANTN2013,2.0,2013.0,93.0,NULL
3,30.0,6920B9AAXPvAibaEXe83EtiN4MI2ns6NZhlUAIhE,ANTN2013,2.0,2013.0,69.0,NULL
4,31.0,2F237AA9XPvAibaEXe/YKAlYnC3m967dOM4WK2IJ,ANTN2013,2.0,2013.0,72.0,NULL
5,32.0,6AEF2EC0XPvAibaEXe86736b6Ol+/EwtIJHvLVRJ,ANTN2013,2.0,2013.0,60.0,NULL
6,33.0,6F75613CXPvAibaEXe8/3iNqySORbxrmFjIeDct7,ANTN2013,2.0,2013.0,96.0,NULL
7,34.0,41EBF544XPvAibaEXe8/3iNqySORb+za0yWMmptx,ANTN2013,2.0,2013.0,86.0,NULL
8,35.0,52A13A56XPvAibaEXe8Y+/3uR2PkTBzKGlmHNdAe,ANTN2013,2.0,2013.0,94.0,NULL
9,36.0,45B8D2AFXPvAibaEXe9jjgNhrmbJFDlSnTjOuVMt,ANTN2013,2.0,2013.0,40.0,NULL
10,37.0,1DCACA12XPvAibaEXe/XBbLEWRhgQQZvuxC3bpO+,ANTN2013,2.0,2013.0,94.0,NULL
11,38.0,A438E310XPvAibaEXe8VekUw4ELehh5JZ8Xkd+Ce,ANTN2013,2.0,2013.0,85.0,NULL
12,39.0,57203F91XPvAibaEXe9JDlHA4z2GHFHVJ5vTRj7d,ANTN2013,2.0,2013.0,100.0,NULL
13,40.0,29430069XPvAibaEXe+TFgEDwYNnvUaz/ItEjR3K,ANTN2013,2.0,2013.0,88.0,NULL
14,41.0,007C275DXPvAibaEXe+TFgEDwYNnveOOmOYeYzF6,ANTN2013,2.0,2013.0,86.0,NULL

In [28]:
df1.columns

Index(['id', 'mssv', ' lopsh', ' hocky', ' namhoc', ' drl', ' ghichu'], dtype='object')

In [42]:
df1[' drl'].describe()

count    3333.000000
mean       75.297630
std        17.109866
min       -30.000000
25%        67.000000
50%        77.000000
75%        87.000000
max       100.000000
Name:  drl, dtype: float64

In [40]:
# tính mean drl
print("mean:",df1[' drl'].mean().round(4))
print("median:",df1[' drl'].median())
print("var:",df1[' drl'].var().round(4))
print("std:",df1[' drl'].std().round(4))

mean: 75.2976
median: 77.0
var: 292.7475
std: 17.1099

In [61]:
print(df1[' lopsh'].unique().shape)
print(df1[' hocky'].unique().shape)
print(df1[' namhoc'].unique().shape)
print(df1[' ghichu'].unique().shape)

(128,)
(2,)
(9,)
(123,)

In [43]:
for col in [' lopsh', ' hocky', ' namhoc', ' drl', ' ghichu']:
    # Đếm số lần xuất hiện của mỗi giá trị trong cột
    value_counts = df1[col].value_counts()
    # Tìm số lần xuất hiện nhỏ nhất
    min_count = value_counts.min()
    # Tìm các giá trị xuất hiện với số lần nhỏ nhất
    least_frequent_values = value_counts[value_counts == min_count]
    # Tìm số lần xuất hiện nhiều nhất
    max_count = value_counts.max()
    # Tìm các giá trị xuất hiện với số lần nhiều nhất
    most_frequent_values = value_counts[value_counts == max_count]
    print(f"Các giá trị xuất hiện ít nhất là:\n{least_frequent_values}")
    print(f"Các giá trị xuất hiện nhiều nhất là:\n{most_frequent_values}")

Các giá trị xuất hiện ít nhất là:
 lopsh
KHCl2019    1
TMCL2020    1
Name: count, dtype: int64
Các giá trị xuất hiện nhiều nhất là:
 lopsh
KTPM2013    1236
Name: count, dtype: int64
Các giá trị xuất hiện ít nhất là:
 hocky
2.0    23567
Name: count, dtype: int64
Các giá trị xuất hiện nhiều nhất là:
 hocky
1.0    30434
Name: count, dtype: int64
Các giá trị xuất hiện ít nhất là:
 namhoc
2012.0    2
Name: count, dtype: int64
Các giá trị xuất hiện nhiều nhất là:
 namhoc
2019.0    11664
Name: count, dtype: int64
Các giá trị xuất hiện ít nhất là:
 drl
-23.0    1
 3.0     1
 12.0    1
-15.0    1
 32.0    1
 4.0     1
 2.0     1
-4.0     1
 9.0     1
 5.0     1
-17.0    1
-21.0    1
-12.0    1
-3.0     1
-19.0    1
 25.0    1
 10.0    1
-5.0     1
-7.0     1
 18.0    1
-1.0     1
-30.0    1
 13.0    1
Name: count, dtype: int64
Các giá trị xuất hiện nhiều nhất là:
 drl
100.0    198
Name: count, dtype: int64
Các giá trị xuất hiện ít nhất là:
 ghichu
'CNTT2018'       1
'HTTT2017'       1
'KHMT2019'       1
'KHMT2016')      1
'KHCl2019.3')    1
'TMCL2020')      1
'ATCL2019.1'     1
'MTCL2018.1'     1
'TMĐT2018'       1
'KTPM2018'       1
'TMĐT2019'       1
Name: count, dtype: int64
Các giá trị xuất hiện nhiều nhất là:
 ghichu
'')    24744
Name: count, dtype: int64

# 12.baoluu

In [46]:
df11 = pd.read_excel(file_path2)

In [47]:
df11.dropna(axis=0, how='all', subset=None, inplace=True)
df11.shape[0]

1878

In [48]:
df11.isnull().sum()

id            0
 masv         0
 tinhtrang    0
 lydo         0
 hocky        0
 namhoc       0
 soqd         0
 ngayqd       0
dtype: int64

In [49]:
df11.head()

,id,masv,tinhtrang,lydo,hocky,namhoc,soqd,ngayqd
0,7532.0,E95E7C6DXPvAibaEXe+1j/AqdkpM22DHf6P99fDJ,3.0,TN,2.0,2016.0,178 /QĐ-ĐHCNTT,2017-04-14
1,8304.0,EBC8A649XPvAibaEXe+fmxcqgvribIboSP1ToKmG,3.0,,1.0,2017.0,713/QD-DHCNTT,2017-10-06
2,8305.0,2ABBE719XPvAibaEXe9hPQQhQOOPyUJ9WJU9hlCM,3.0,,1.0,2017.0,713/QD-DHCNTT,2017-10-06
3,8306.0,C307F053XPvAibaEXe+nZBq3b0XEhX8PABYu6iV1,3.0,,1.0,2017.0,713/QD-DHCNTT,2017-10-06
4,8307.0,F99CE6DEXPvAibaEXe86736b6Ol+/O3ZQU1AW1/C,3.0,,1.0,2017.0,713/QD-DHCNTT,2017-10-06

In [52]:
df11.columns

Index(['id', ' tinhtrang', ' lydo', ' hocky', ' namhoc', ' soqd', ' ngayqd'], dtype='object')

In [50]:
print(df11[' tinhtrang'].unique().shape)
print(df11[' lydo'].unique().shape)
print(df11[' hocky'].unique().shape)
print(df11[' namhoc'].unique().shape)
print(df11[' soqd'].unique().shape)
print(df11[' ngayqd'].unique().shape)

(1,)
(5,)
(3,)
(5,)
(45,)
(43,)

In [52]:
for col in [' tinhtrang', ' lydo', ' hocky', ' namhoc', ' soqd', ' ngayqd']:
    # Đếm số lần xuất hiện của mỗi giá trị trong cột
    value_counts = df11[col].value_counts()
    # Tìm số lần xuất hiện nhỏ nhất
    min_count = value_counts.min()
    # Tìm các giá trị xuất hiện với số lần nhỏ nhất
    least_frequent_values = value_counts[value_counts == min_count]
    # Tìm số lần xuất hiện nhiều nhất
    max_count = value_counts.max()
    # Tìm các giá trị xuất hiện với số lần nhiều nhất
    most_frequent_values = value_counts[value_counts == max_count]
    print(f"Các giá trị xuất hiện ít nhất là:\n{least_frequent_values}")
    print(f"Các giá trị xuất hiện nhiều nhất là:\n{most_frequent_values}")

Các giá trị xuất hiện ít nhất là:
 tinhtrang
3.0    1878
Name: count, dtype: int64
Các giá trị xuất hiện nhiều nhất là:
 tinhtrang
3.0    1878
Name: count, dtype: int64
Các giá trị xuất hiện ít nhất là:
 lydo
TN    1
Name: count, dtype: int64
Các giá trị xuất hiện nhiều nhất là:
 lydo
    1666
Name: count, dtype: int64
Các giá trị xuất hiện ít nhất là:
 hocky
3.0    78
Name: count, dtype: int64
Các giá trị xuất hiện nhiều nhất là:
 hocky
1.0    909
Name: count, dtype: int64
Các giá trị xuất hiện ít nhất là:
 namhoc
2016.0    1
Name: count, dtype: int64
Các giá trị xuất hiện nhiều nhất là:
 namhoc
2020.0    726
Name: count, dtype: int64
Các giá trị xuất hiện ít nhất là:
 soqd
430/QĐ-ĐHCNTT     1
391/QĐ-ĐHCNTT     1
178 /QĐ-ĐHCNTT    1
239/QĐ-ĐHCNTT     1
242/QĐ-ĐHCNTT     1
852 /QĐ-ĐHCNTT    1
344 /QĐ-ĐHCNTT    1
341 /QĐ-ĐHCNTT    1
243/QĐ-ĐHCNTT     1
772/QĐ_ĐHCNTT     1
519/QĐ-ĐHCNTT     1
Name: count, dtype: int64
Các giá trị xuất hiện nhiều nhất là:
 soqd
542/QĐ-ĐHCNTT    204
Name: count, dtype: int64
Các giá trị xuất hiện ít nhất là:
 ngayqd
2019-12-02    1
2019-06-10    1
2019-06-05    1
2020-07-16    1
2020-07-31    1
2018-04-23    1
2019-08-26    1
2020-05-26    1
2020-05-27    1
2017-04-14    1
Name: count, dtype: int64
Các giá trị xuất hiện nhiều nhất là:
 ngayqd
2020-08-31    204
Name: count, dtype: int64

# 14.totnghiep

In [53]:
df12 = pd.read_excel(file_path3)

In [54]:
df12.dropna(axis=0, how='all', subset=None, inplace=True)
df12.shape[0]

1845

In [55]:
df12.isnull().sum()

id              0
mssv            0
 xeploai        0
 soquyetdinh    0
 ngaycapvb      0
dtype: int64

In [57]:
df12.head()

,id,mssv,xeploai,soquyetdinh,ngaycapvb
0,76328.0,E95E7C6DXPvAibaEXe+1j/AqdkpM22DHf6P99fDJ,Khá,178/QĐ_ĐHCNTT,14/04/2017
1,76663.0,D0FE4969XPvAibaEXe/yXiKgsgy0slCmJ5EKt6Ki,Giỏi,713/QĐ_ĐHCNTT,06/10/2017
2,76664.0,40F7E8D0XPvAibaEXe+nZBq3b0XEhfcwXLmoc4Pj,Giỏi,713/QĐ_ĐHCNTT,06/10/2017
3,76665.0,0A049F45XPvAibaEXe9CtFSNMbfIz9qE7i0Fu4My,Khá,713/QĐ_ĐHCNTT,06/10/2017
4,76666.0,7A7166DAXPvAibaEXe83V/kFvw2bBZ0o/KVHZc30,Khá,713/QĐ_ĐHCNTT,06/10/2017

In [58]:
df12.columns

Index(['id', 'mssv', ' xeploai', ' soquyetdinh', ' ngaycapvb'], dtype='object')

In [59]:
print(df12[' xeploai'].unique().shape)
print(df12[' soquyetdinh'].unique().shape)
print(df12[' ngaycapvb'].unique().shape)

(7,)
(43,)
(45,)

In [60]:
for col in [' xeploai', ' soquyetdinh', ' ngaycapvb']:
    # Đếm số lần xuất hiện của mỗi giá trị trong cột
    value_counts = df12[col].value_counts()
    # Tìm số lần xuất hiện nhỏ nhất
    min_count = value_counts.min()
    # Tìm các giá trị xuất hiện với số lần nhỏ nhất
    least_frequent_values = value_counts[value_counts == min_count]
    # Tìm số lần xuất hiện nhiều nhất
    max_count = value_counts.max()
    # Tìm các giá trị xuất hiện với số lần nhiều nhất
    most_frequent_values = value_counts[value_counts == max_count]
    print(f"Các giá trị xuất hiện ít nhất là:\n{least_frequent_values}")
    print(f"Các giá trị xuất hiện nhiều nhất là:\n{most_frequent_values}")

Các giá trị xuất hiện ít nhất là:
 xeploai
TB khá    2
Name: count, dtype: int64
Các giá trị xuất hiện nhiều nhất là:
 xeploai
Khá    1125
Name: count, dtype: int64
Các giá trị xuất hiện ít nhất là:
 soquyetdinh
852/QĐ-ĐHCNTT    1
341/QĐ-ĐHCNTT    1
772/QĐ_ĐHCNTT    1
391/QĐ_ĐHCNTT    1
430/QĐ_ĐHCNTT    1
344/QĐ-ĐHCNTT    1
239/QĐ_ĐHCNTT    1
242/QĐ_ĐHCNTT    1
519-QD-DHCNTT    1
178/QĐ_ĐHCNTT    1
Name: count, dtype: int64
Các giá trị xuất hiện nhiều nhất là:
 soquyetdinh
542/QĐ_ĐHCNTT    204
Name: count, dtype: int64
Các giá trị xuất hiện ít nhất là:
 ngaycapvb
31/07/2020      1
14/04/2017      1
16/07/2020      1
26/05/2020      1
27-5-2020       1
02/12/2019      1
26/08/2019      1
10/06/2019      1
05/06/2019      1
07/11/2017      1
11/10/2019);    1
Name: count, dtype: int64
Các giá trị xuất hiện nhiều nhất là:
 ngaycapvb
31/08/2020    204
Name: count, dtype: int64