In [6]:
import findspark
findspark.init()
import pyspark
from pyspark.sql import SparkSession

scala_version = '2.12'  # your scala version
spark_version = '3.5.0' # your spark version
packages = [
    f'org.apache.spark:spark-sql-kafka-0-10_{scala_version}:{spark_version}',
    'org.apache.kafka:kafka-clients:3.6.0' #your kafka version
]
spark = SparkSession.builder.master("local").appName("kafka-example").config("spark.jars.packages", ",".join(packages)).getOrCreate()
spark

In [7]:
packages

['org.apache.spark:spark-sql-kafka-0-10_2.12:3.5.0',
 'org.apache.kafka:kafka-clients:3.6.0']

## Creating a Kafka Source for Batch Queries
If you have a use case that is better suited to batch processing, you can create a Dataset/DataFrame for a defined range of offsets.

In [8]:
topic_name = 'RandomNumber'
kafka_server = 'localhost:9092'

kafkaDf = spark.read.format("kafka").option("kafka.bootstrap.servers", kafka_server).option("subscribe", topic_name).option("startingOffsets", "earliest").load()

In [9]:
kafkaDf.toPandas()

D:\Spark\spark-3.5.0-bin-hadoop3\python\pyspark\sql\pandas\types.py:563: FutureWarning: is_datetime64tz_dtype is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.DatetimeTZDtype)` instead.
  if not is_datetime64tz_dtype(pser.dtype):
D:\Spark\spark-3.5.0-bin-hadoop3\python\pyspark\sql\pandas\types.py:379: FutureWarning: is_datetime64tz_dtype is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.DatetimeTZDtype)` instead.
  if is_datetime64tz_dtype(s.dtype):

,key,value,topic,partition,offset,timestamp,timestampType
0,None,"[123, 34, 110, 117, 109, 98, 101, 114, 34, 58,...",RandomNumber,0,0,2023-11-13 09:22:45.633,0
1,None,"[123, 34, 110, 117, 109, 98, 101, 114, 34, 58,...",RandomNumber,0,1,2023-11-13 09:22:50.634,0
2,None,"[123, 34, 110, 117, 109, 98, 101, 114, 34, 58,...",RandomNumber,0,2,2023-11-13 09:22:55.635,0
3,None,"[123, 34, 110, 117, 109, 98, 101, 114, 34, 58,...",RandomNumber,0,3,2023-11-13 09:23:00.637,0
4,None,"[123, 34, 110, 117, 109, 98, 101, 114, 34, 58,...",RandomNumber,0,4,2023-11-13 09:23:05.638,0
5,None,"[123, 34, 110, 117, 109, 98, 101, 114, 34, 58,...",RandomNumber,0,5,2023-11-13 09:23:10.639,0
6,None,"[123, 34, 110, 117, 109, 98, 101, 114, 34, 58,...",RandomNumber,0,6,2023-11-13 09:23:15.641,0
7,None,"[123, 34, 110, 117, 109, 98, 101, 114, 34, 58,...",RandomNumber,0,7,2023-11-13 09:23:20.642,0
8,None,"[123, 34, 110, 117, 109, 98, 101, 114, 34, 58,...",RandomNumber,0,8,2023-11-13 09:23:25.643,0
9,None,"[123, 34, 110, 117, 109, 98, 101, 114, 34, 58,...",RandomNumber,0,9,2023-11-13 09:23:30.645,0
10,None,"[123, 34, 110, 117, 109, 98, 101, 114, 34, 58,...",RandomNumber,0,10,2023-11-13 09:23:35.648,0
11,None,"[123, 34, 110, 117, 109, 98, 101, 114, 34, 58,...",RandomNumber,0,11,2023-11-13 09:23:40.649,0
12,None,"[123, 34, 110, 117, 109, 98, 101, 114, 34, 58,...",RandomNumber,0,12,2023-11-13 09:23:45.650,0
13,None,"[123, 34, 110, 117, 109, 98, 101, 114, 34, 58,...",RandomNumber,0,13,2023-11-13 09:23:50.651,0
14,None,"[123, 34, 110, 117, 109, 98, 101, 114, 34, 58,...",RandomNumber,0,14,2023-11-13 09:23:55.652,0
15,None,"[123, 34, 110, 117, 109, 98, 101, 114, 34, 58,...",RandomNumber,0,15,2023-11-13 09:24:00.656,0
16,None,"[123, 34, 110, 117, 109, 98, 101, 114, 34, 58,...",RandomNumber,0,16,2023-11-13 09:24:05.657,0
17,None,"[123, 34, 110, 117, 109, 98, 101, 114, 34, 58,...",RandomNumber,0,17,2023-11-13 09:24:10.659,0
18,None,"[123, 34, 110, 117, 109, 98, 101, 114, 34, 58,...",RandomNumber,0,18,2023-11-13 09:24:15.660,0
19,None,"[123, 34, 110, 117, 109, 98, 101, 114, 34, 58,...",RandomNumber,0,19,2023-11-13 09:24:20.662,0
20,None,"[123, 34, 110, 117, 109, 98, 101, 114, 34, 58,...",RandomNumber,0,20,2023-11-13 09:24:25.663,0
21,None,"[123, 34, 110, 117, 109, 98, 101, 114, 34, 58,...",RandomNumber,0,21,2023-11-13 09:24:30.664,0
22,None,"[123, 34, 110, 117, 109, 98, 101, 114, 34, 58,...",RandomNumber,0,22,2023-11-13 09:24:35.667,0
23,None,"[123, 34, 110, 117, 109, 98, 101, 114, 34, 58,...",RandomNumber,0,23,2023-11-13 09:24:40.667,0
24,None,"[123, 34, 110, 117, 109, 98, 101, 114, 34, 58,...",RandomNumber,0,24,2023-11-13 09:24:45.668,0
25,None,"[123, 34, 110, 117, 109, 98, 101, 114, 34, 58,...",RandomNumber,0,25,2023-11-13 09:24:50.669,0
26,None,"[123, 34, 110, 117, 109, 98, 101, 114, 34, 58,...",RandomNumber,0,26,2023-11-13 09:24:55.669,0
27,None,"[123, 34, 110, 117, 109, 98, 101, 114, 34, 58,...",RandomNumber,0,27,2023-11-13 09:25:00.670,0
28,None,"[123, 34, 110, 117, 109, 98, 101, 114, 34, 58,...",RandomNumber,0,28,2023-11-13 09:25:05.671,0
29,None,"[123, 34, 110, 117, 109, 98, 101, 114, 34, 58,...",RandomNumber,0,29,2023-11-13 09:25:10.672,0
30,None,"[123, 34, 110, 117, 109, 98, 101, 114, 34, 58,...",RandomNumber,0,30,2023-11-13 09:25:15.673,0
31,None,"[123, 34, 110, 117, 109, 98, 101, 114, 34, 58,...",RandomNumber,0,31,2023-11-13 09:25:20.674,0
32,None,"[123, 34, 110, 117, 109, 98, 101, 114, 34, 58,...",RandomNumber,0,32,2023-11-13 09:25:25.675,0
33,None,"[123, 34, 110, 117, 109, 98, 101, 114, 34, 58,...",RandomNumber,0,33,2023-11-13 09:25:30.676,0
34,None,"[123, 34, 110, 117, 109, 98, 101, 114, 34, 58,...",RandomNumber,0,34,2023-11-13 09:25:35.677,0
35,None,"[123, 34, 110, 117, 109, 98, 101, 114, 34, 58,...",RandomNumber,0,35,2023-11-13 09:25:40.679,0
36,None,"[123, 34, 110, 117, 109, 98, 101, 114, 34, 58,...",RandomNumber,0,36,2023-11-13 09:25:45.681,0
37,None,"[123, 34, 110, 117, 109, 98, 101, 114, 34, 58,...",RandomNumber,0,37,2023-11-13 09:25:50.682,0
38,None,"[123, 34, 110, 117, 109, 98, 101, 114, 34, 58,...",RandomNumber,0,38,2023-11-13 09:25:55.685,0
39,None,"[123, 34, 110, 117, 109, 98, 101, 114, 34, 58,...",RandomNumber,0,39,2023-11-13 09:26:00.689,0
40,None,"[123, 34, 110, 117, 109, 98, 101, 114, 34, 58,...",RandomNumber,0,40,2023-11-13 09:26:05.690,0
41,None,"[123, 34, 110, 117, 109, 98, 101, 114, 34, 58,...",RandomNumber,0,41,2023-11-13 09:26:10.691,0
42,None,"[123, 34, 110, 117, 109, 98, 101, 114, 34, 58,...",RandomNumber,0,42,2023-11-13 09:26:15.692,0
43,None,"[123, 34, 110, 117, 109, 98, 101, 114, 34, 58,...",RandomNumber,0,43,2023-11-13 09:26:20.694,0
44,None,"[123, 34, 110, 117, 109, 98, 101, 114, 34, 58,...",RandomNumber,0,44,2023-11-13 09:26:25.696,0
45,None,"[123, 34, 110, 117, 109, 98, 101, 114, 34, 58,...",RandomNumber,0,45,2023-11-13 09:26:30.699,0

In [10]:
from pyspark.sql.functions import col, concat, lit
#keep running this cell to get new message from the Kafka topic
kafkaDf.select(col('topic'),col('offset'),col('value').cast('string').substr(12,1).alias('rand_number')).toPandas()

           topic  offset rand_number
0   RandomNumber       0           2
1   RandomNumber       1           4
2   RandomNumber       2           7
3   RandomNumber       3           7
4   RandomNumber       4           3
5   RandomNumber       5           7
6   RandomNumber       6           6
7   RandomNumber       7           9
8   RandomNumber       8           7
9   RandomNumber       9           3
10  RandomNumber      10           5
11  RandomNumber      11           0
12  RandomNumber      12           1
13  RandomNumber      13           6
14  RandomNumber      14           6
15  RandomNumber      15           8
16  RandomNumber      16           7
17  RandomNumber      17           8
18  RandomNumber      18           5
19  RandomNumber      19           1
20  RandomNumber      20           7
21  RandomNumber      21           0
22  RandomNumber      22           8
23  RandomNumber      23           2
24  RandomNumber      24           1
25  RandomNumber      25           8
26  RandomNumber      26           8
27  RandomNumber      27           4
28  RandomNumber      28           9
29  RandomNumber      29           8
30  RandomNumber      30           9
31  RandomNumber      31           7
32  RandomNumber      32           6
33  RandomNumber      33           1
34  RandomNumber      34           5
35  RandomNumber      35           1
36  RandomNumber      36           1
37  RandomNumber      37           2
38  RandomNumber      38           5
39  RandomNumber      39           0
40  RandomNumber      40           0
41  RandomNumber      41           9
42  RandomNumber      42           1
43  RandomNumber      43           2
44  RandomNumber      44           0
45  RandomNumber      45           8
46  RandomNumber      46           6
47  RandomNumber      47           9
48  RandomNumber      48           7
49  RandomNumber      49           1
50  RandomNumber      50           6
51  RandomNumber      51           8
52  RandomNumber      52           6

In [11]:
batchDF = kafkaDf.select(col('topic'),col('offset'),col('value').cast('string').substr(12,1).alias('rand_number'))


from time import sleep
from IPython.display import display, clear_output

for x in range(0, 2000):
    try:
        print("Showing live view refreshed every 5 seconds")
        print(f"Seconds passed: {x*5}")
        display(batchDF.toPandas())
        sleep(5)
        clear_output(wait=True)
    except KeyboardInterrupt:
        print("break")
        break
print("Live view ended...")

Showing live view refreshed every 5 seconds
Seconds passed: 160

           topic  offset rand_number
0   RandomNumber       0           2
1   RandomNumber       1           4
2   RandomNumber       2           7
3   RandomNumber       3           7
4   RandomNumber       4           3
..           ...     ...         ...
85  RandomNumber      85           0
86  RandomNumber      86           2
87  RandomNumber      87           2
88  RandomNumber      88           8
89  RandomNumber      89           8

[90 rows x 3 columns]

break
Live view ended...

In [152]:
batchCountDF = batchDF.groupBy('rand_number').count()
for x in range(0, 2000):
    try:
        print("Showing live view refreshed every 5 seconds")
        print(f"Seconds passed: {x*5}")
        display(batchCountDF.toPandas())
        sleep(5)
        clear_output(wait=True)
    except KeyboardInterrupt:
        print("break")
        break
print("Live view ended...")

Showing live view refreshed every 5 seconds
Seconds passed: 5

  rand_number  count
0           7      5
1           3      2
2           8      1
3           0      1
4           5      1
5           6      3
6           9      1
7           1      1
8           4      1
9           2      1

break
Live view ended...

## Creating a Kafka Source for Streaming Queries

In [13]:

streamRawDf = spark.readStream.format("kafka").option("kafka.bootstrap.servers", kafka_server).option("subscribe", topic_name).load()
streamDF = streamRawDf.select(col('topic'),col('offset'),col('value').cast('string').substr(12,1).alias('rand_number'))
checkEvenDF = streamDF.withColumn('Is_Even',col('rand_number').cast('int') % 2 == 0 )

In [14]:
from random import randint
randNum=str(randint(0,10000))
q1name = "queryNumber"+randNum
q2name = "queryCheckEven"+randNum

stream_writer1 = (streamDF.writeStream.queryName(q1name).trigger(processingTime="5 seconds").outputMode("append").format("memory"))
stream_writer2 = (checkEvenDF.writeStream.queryName(q2name).trigger(processingTime="5 seconds").outputMode("append").format("memory"))

query1 = stream_writer1.start()    
query2 = stream_writer2.start()

In [15]:
for x in range(0, 2000):
    try:
        print("Showing live view refreshed every 5 seconds")
        print(f"Seconds passed: {x*5}")
        result1 = spark.sql(f"SELECT * from {query1.name}")
        result2 = spark.sql(f"SELECT * from {query2.name}")
        display(result1.toPandas())
        display(result2.toPandas())
        sleep(5)
        clear_output(wait=True)
    except KeyboardInterrupt:
        print("break")
        break
print("Live view ended...")

Showing live view refreshed every 5 seconds
Seconds passed: 970

            topic  offset rand_number
0    RandomNumber      92           6
1    RandomNumber      93           1
2    RandomNumber      94           0
3    RandomNumber      95           2
4    RandomNumber      96           0
..            ...     ...         ...
102  RandomNumber     194           8
103  RandomNumber     195           1
104  RandomNumber     196           2
105  RandomNumber     197           2
106  RandomNumber     198           4

[107 rows x 3 columns]

            topic  offset rand_number  Is_Even
0    RandomNumber      92           6     True
1    RandomNumber      93           1    False
2    RandomNumber      94           0     True
3    RandomNumber      95           2     True
4    RandomNumber      96           0     True
..            ...     ...         ...      ...
102  RandomNumber     194           8     True
103  RandomNumber     195           1    False
104  RandomNumber     196           2     True
105  RandomNumber     197           2     True
106  RandomNumber     198           4     True

[107 rows x 4 columns]

break
Live view ended...